[submodule "public/js/libs/audioOnCanvas"]
	path = public/js/libs/audioOnCanvas
	url = git://github.com/colinsullivan/audioOnCanvas.git
[submodule "public/css/bootstrap"]
	path = public/css/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "public/js/libs/requirejs"]
	path = public/js/libs/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "public/js/libs/backbone"]
	path = public/js/libs/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "public/js/libs/underscore"]
	path = public/js/libs/underscore
	url = git://github.com/documentcloud/underscore.git
