@import "bootstrap/less/mixins";

header.navbar {
  margin-bottom: 0;

  div.navbar-inner {
    .border-radius(4px 4px 0px 0px);
  }
}


li.disabled > * {
  text-decoration: none;
  color: rgba(25,25,25,0.25);
  cursor: default;
}
li.disabled > a:hover {
  background-color: transparent;
  border-color: transparent !important;
}

ul#navigation {
  .border-radius(0px 0px 3px 3px);

}

a.reference {
  font-style: italic;
}

section {
  display: none;
}

section.active {
  display: block;
}

// hack so golay length dropdown shows up.
div.tab-pane#golay_info {
  min-height: 400px;
}
