@import "bootstrap/less/mixins";

header.navbar {
  margin-bottom: 0;

  div.navbar-inner {
    .border-radius(4px 4px 0px 0px);
  }
}


li.disabled > * {
  text-decoration: none;
  color: rgba(25,25,25,0.25);
  cursor: default;
}
li.disabled > a:hover {
  background-color: transparent;
}

ul#navigation {
  .border-radius(0px 0px 3px 3px);

}

a.reference {
  font-style: italic;
}

section, div.generate_chooser_info {
  display: none;
}

section.active, div.generate_chooser_info.active {
  display: block;
}


